# Ignore VSCode cache
.vscode/

# Ignore Python cache files
__pycache__/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore system cache files
*.cache

# Ignore WandB files
wandb/

# result files from running the code
results/
# Dataset files 
Dataset/

**/model_weights/**
src/model_weghts/*
